@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}
header {
  top: 0;
  left: 0;
  height: 60px;
  background-color: rgb(10, 176, 182);
  display: block;
  color: #ffffff;
  font-weight: bolder;
}

.header-left {
  margin-left: 50px;
  padding: 10px;
  font-size: 30px;
  letter-spacing: 10px;
  float: left;
}

.header-right {
  margin-right: 50px;
}

.header-right ul {
  float: right;
}

.header-right li {
  position: relative;
  float: left;
  list-style: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  line-height: 60px;
}

.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 1s;
}

.container {
  width: 100%;
}

.top-image {
  height: 650px;
  width: 100%;
  background-image: url(stack-glass.jpg);
  background-size: cover;
}

.top-image h1 {
  font-size: 20px;
  font-weight: bold;
}

.top-image h2 {
  font-size: 16px;
  font-weight: normal;
}

.wrap {
  width: 700px;
  padding: 240px 100px;
}

.wrap h1 {
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 35px;
  height: inherit;
  padding: 15px 15px;
  margin-right: 20px;
  display: none;
}

.main {
  position: relative;
  display: block;
}

.main h1 {
  font-size: 20px;
  font-weight: normal;
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.products {
  width: 100%;
  height: fit-content;
  padding: 0 20px;
}

.product {
  width: 25%;
  height: auto;
  float: left;
  padding: 0 20px;
}

.glass-photo img {
  width: 100%;
  height: 450px;
}

.glass-photo img:hover {
  animation: zoom 1s ease;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.glass-text {
  text-align: center;
  margin-bottom: 50px;
}

.glass-text h1 {
  font-family: "Dawning of a New Day", cursive;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

.glass-text p {
  font-size: 16px;
}

.cities li {
  justify-content: space-around;
}

footer {
  height: 50px;
  background-color: rgb(10, 176, 182);
  display: block;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.clear {
  clear: left;
}

/* Responsive CSS */

@media (max-width: 1000px) {
  .product {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 670px) {
  .header-left {
    margin-left: 20px;
  }

  .top-image h1 {
    font-size: 20px;
  }

  .top-image h2 {
    font-size: 16px;
  }

  .wrap {
    width: 100%;
    padding: 240px 50px;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 1s;
  }

  .header-right {
    display: none;
  }

  .product {
    width: 100%;
    margin-bottom: 30px;
  }
}
